<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="com.course.model">
    <!--  获取登录接口case  -->
    <select id="loginCase" parameterType="Integer" resultType="com.course.model.LoginCase">
        select * from login_case where id = #{id};
    </select>

    <!-- 获取用户信息的接扣case   -->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.course.model.GetUserInfoCase">
        select * from get_user_info_case where id = #{id};
    </select>

    <!--  添加用户接口case  -->
    <select id="addUserCase" parameterType="Integer" resultType="com.course.model.AddUserCase">
        select * from add_user_case where id = #{id};
    </select>

    <!-- 获取用户信息case -->
    <select id="getUserInfo" parameterType="com.course.model.GetUserInfoCase" resultType="com.course.model.User">
        select * from user where
        id = #{userId};
    </select>

    <!-- 获取用户列表信息 -->
    <select id="getUserListCase" parameterType="Integer" resultType="com.course.model.GetUserListCase">
        select * from get_user_list_case where id = #{id};
    </select>

    <!--  获取用户列表  -->
    <select id="getUserList" parameterType="com.course.model.GetUserListCase" resultType="com.course.model.User">
        select * from user
        <!-- trim标签一般用于去除sql语句中多余的and关键字，逗号，或者给sql语句前拼接 “where“、“set“以及“values(“ 等前缀，或者添加“)“等后缀，
        可用于选择性插入、更新、删除或者条件查询等操作。-->
       <trim prefix="WHERE" prefixOverrides="and">
<!--            <if test="username != null and username != '' ">-->
<!--                 username = #{username}-->
<!--            </if>-->
            <if test="sex != null and sex != '' ">
                and sex = #{sex}
            </if>
<!--            <if test="age != null and age != '' ">-->
<!--                and age = #{age}-->
<!--            </if>-->
         </trim>
         ;
    </select>

    <!--  添加用户接口  -->
    <select id="addUser" parameterType="com.course.model.AddUserCase" resultType="com.course.model.User">
        insert into user (username,password,sex,age,permission,isDelete)
        select username,password,sex,age,permission,isDelete from user where
--         username = #{username}
--         and password = #{password}
--         and sex = #{sex}
--         and age = #{sex}
--         and permission = #{permission}
--         and isDelete = #{isDelete}
    </select>
</mapper>